@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
}
body{
    height: 100%;
    width: 100%;
    background: black;
    color: white;
    position: relative;
}
 .main{
    height: 100%;
    width: 100%;
    position: relative;
 }
.main .left-header{
    padding: 30px 20px;
    width: 80px;
    border-right: 1px solid rgba(255,255,255,0.5);
    position: fixed;
    height: 100%;
    display: flex;flex-direction: column;
    justify-content: space-between;
}
.logo{
    display: flex;
    justify-content: center;
    align-items: center;
}
.link{
    margin-bottom: 100px;
    display: flex;
    transform: rotate(-90deg);
    gap: 35px;
}
.link a{
    text-decoration: none;
    color: white;
    font-weight: 400;
    letter-spacing: 1px;
}
.header{
    /* width: calc(100%-80px); */
    background: transparent;
    margin-left: 120px;
    height: 70px;
    padding-top: 30px;
    display: flex;
    justify-content: space-around;
}
.header nav{
    display: flex;
    gap: 40px;
}
.header nav a{
    text-decoration: none;
    color: white;
    font-weight: 400;
    position: relative;
}
.header nav a::after{
    content: '';
    left: 0;
    top: 25px;
    border-radius: 40px;
    transform: translateY(20px);
    position: absolute;
    height: 3px;
    width: 100%;
    visibility: hidden;
    transition: transform 1.8s;
    background: rgb(216, 213, 213);
}
.header nav a:hover{
    color: rgb(232, 222, 222)
}
.header nav a:hover::after{
    visibility: visible;
    transform: translateY(0px);
    transition: transform 1.2s;
}
.search{
    font-weight: 400;
}
.right-header{
    position: absolute;
    right: 7%;
    height: 522px;
    width: 90px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    

}

.right-header .number{
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction: column;
    gap: 22px;
    padding-bottom: 130px;
}


.lol{
    font-size: 6em;
}
.right-header .number p{
    border-right: 2px solid;
    height: 260px;
}
.right-header .number .mol{
    font-size: 2em;
}
.right-header .scroll p{
    transform: rotate(-90deg);
    font-size: 1.3em;
    cursor: pointer;
}
.main-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 15%;
    margin-top: 10%;
    gap: 70px;
}
.main-text h1{
    font-size: 6em;
    line-height: 77px;
}
.main-text p{
    line-height: 25px;
}
.name-area{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    left: 65%;
    top: 80%;
    position: absolute;
}
.img img{
    height: 390px;
    width: 600px;
    position: absolute;
    left: 50%;
    top: 90%;
}
.watch{
    display: flex;
    gap: 12px;
    position: absolute;
    bottom: -45%;
    left: 15%;
    cursor: pointer;
    
}
.watch i{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.3em;


}
.watch p{
    display: flex;
    justify-content: center;
    align-items: center;

}